
<%= form_for [@vacation, @vacation_destination] do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>
<br>
<br>
<% if @vacation_destination.id? %>
    <%= link_to "Delete", vacation_vacation_destination_path(@vacation, @vacation_destination), :method => :delete, class: "button" %>
    <%= f.submit "Update Destination" %>
<% else %>
<h4> What stop will you make? </h4>
<!-- <h5> Pick a stop: </h5> -->
<!-- <%= f.collection_select :destination_id, Destination.order(:city), :id, :city %><br> -->
<!-- <p>Or add a new one</p><br> -->
    <%= f.fields_for :destinations do |ff| %>
        <%= ff.label :city %>
        <%= ff.text_field :city %>
        <br>
        <%= ff.label :state %>
        <%= ff.text_field :state %>
        <br>
        <%= ff.label :country %>
        <%= ff.text_field :country %> 
        <br><br>
    <% end %>
<%= f.submit "Add Destination" %>
<% end %>
<% end %>