
<%= form_for [current_user, @vacation || nil] do |f| %>
    <br>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <br>
    <%= f.label :description %>
    <br>
    <%= f.text_area :description, cols: "50", rows: "10" %><br>
    <br>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <br>
    
    <% if update? %>
        <h3> Current Destinations </h3>
        <ul style="list-style-type:none;">
        <% @vacation.destinations.each do |d| %>
            <li><%= d.city %></li>
        <% end %>
        </ul>
    <% end %>
    <br>
    <h4> What stops will you make? </h4>
    <%= f.fields_for :destinations do |ff| %>
        <%= ff.label :city %>
        <%= ff.text_field :city %>
        <br>
        <%= ff.label :state %>
        <%= ff.text_field :state %>
        <br>
        <%= ff.label :country %>
        <%= ff.text_field :country %>
        <br><br>
    <% end %>
    <p> Need Recommendations? </p>
    <%= f.collection_check_boxes(:destination_ids, Destination.all, :id, :city)%>
<p><%= f.submit %> </p>
<% if update? %>
    <p><%= link_to("Delete", user_vacation_path(current_user, @vacation), method: :delete, data: {confirm: "Are you sure?"}, class: "button") %></p>
<% end %>
<% end %>

     
        
