
<%= form_for [current_user, @vacation || nil] do |f| %>
    <br>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <br>
    <%= f.label :description %>
    <br>
    <%= f.text_area :description, cols: "50", rows: "10" %><br>
    <br>
    <br>
    <% if update? %>
        <h3> Current Destinations </h3>
        <ul style="list-style-type:none;">
        <% @vacation.vacation_destinations.each do |vd| %>
            <li><%= vd.destination.city %></li>
            <li><%= nice_date(vd.date) %></li><br>
        <% end %>
        </ul>
    <% end %>
    <br>
<p><%= f.submit %> </p>
<%= link_to "Add Destination", new_vacation_vacation_destination_path(@vacation), class: "button" %>
<% if update? %>
    <p><%= link_to("Delete", user_vacation_path(current_user, @vacation), method: :delete, data: {confirm: "Are you sure?"}, class: "button") %></p>
<% end %>
<% end %>

     
        
