<div class="greet">
<h1><%= @vacation.title %></h1>
<p><%= @vacation.description %></p>
<hr class="style14">
<ul style="list-style-type:none;">
<h4>Destinations:</h4>
<% if destinations? %>
      <% @vacation.vacation_destinations.each do |vd| %>
         <li> <%= city_state_country(vd.destination) %></li>
         <li><%= nice_date(vd.date) %></li><br>
      <% end %>
<% else %>
      <%= link_to "Add Destination", new_vacation_vacation_destination_path(@vacation), class: "button" %>
<% end %><br>
<%= link_to "Edit", edit_user_vacation_path(@vacation), class: "button" %><br><br>



<!-- <p><%= link_to "Create New Destination", new_destination_path, class: "button" %></p> -->
</div><br>