<div class="greet">
<h1><%= @vacation.title %></h1>
<h3><%= nice_date(@vacation.date) %></h3>
<p><%= @vacation.description %></p>
<hr class="style14">
<ul style="list-style-type:none;">
<h4>Destinations:</h4>
<% if destinations? %>
      <% @vacation.destinations.each do |d| %>
         <li> <%= city_state_country(d) %></li><br>
      <% end %>
<% end %>
<%= link_to "Edit", edit_user_vacation_path(@vacation), class: "button" %><br><br>



<!-- <p><%= link_to "Create New Destination", new_destination_path, class: "button" %></p> -->
</div><br>