<h1><%= @vacation.title %></h1>
<h3><%= nice_date(@vacation.date) %></h3>
<ul>
<p> <% @vacation.destinations.each do |d| %></p>
   <li> <%= city_state_country(d) %></li><br>
<% end %>
<%= link_to "Edit", edit_user_vacation_path(@vacation) %>



<p>Great! Add custom destinations <p><%= link_to "here", new_destination_path %></p>