<% if @movie.errors.any? %>
  <%= render partial: '/errors', locals: {instance: @movie}%>
<% end %>

<%= form_for @movie do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>
  <div>
    <%= f.label :release_date %>
    <%= f.date_field :release_date %>
  </div>
  <div>
     <%=f.label :users%>
     <%# <%=f.collection_select :id, User.all, :id, :username%>  %>
  </div>

    <%= f.submit  %>
<% end %>