<nav class="nav">
    <ul class="bar">
        <li class="bar">
            <%= link_to "Home", root_path %>
        </li>
        <% if logged_in? %>
                <li class="bar"><%= link_to "My Vacations", user_path(@current_user)%></li>
                <li class="bar"><%= link_to "Log out", logout_path, method: :delete %></li> 
        <% else %>
            
                <li class="bar"><%= link_to "Log in", login_path%></li> 
                <li class="bar"><%= link_to "Sign up", signup_path %></li>
        <% end %>
    </ul> 
    
</nav>