<!DOCTYPE html>
<html>
  <head>
    <title>IntroToRailsModelsAndRestfulRouting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
          <li><%= link_to("Home", root_path) %></li>
          <li><%= link_to("Movies", movies_path) %></li>
          <li><%= link_to("Create Movie", new_movie_path) %></li>
          <li><%= link_to("Logout", logout_path) %></li>
          <li><%= link_to("Signup", signup_path) %></li>
          <li><%= link_to("Login", new_user_path) %></li>
          <li><%= link_to "Log in with Google", '/auth/google_oauth2', method: :post%> </li>
      </ul>
    </nav>
    <% if flash[:error] %>
      <% flash[:error].each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>

    <%= content_tag("p", flash[:notice]) if flash[:notice] %>
    <%= yield %>
  </body>
</html>
